.calendar-heading,
.calendar-nav-button,
.calendar-month {
  color: white;
}

.calendar-grid {
  color: white;
  font-size: 20px; /* Increase font size */
  border-collapse: collapse; /* Collapse borders */
  border: 2px solid white; /* Add border to the table */
}

.calendar-day {
  color: white;
  padding: 10px; /* Increase padding */
  border: 1px solid white; /* Add border to the day cells */
}

.calendar-date {
  color: white;
  padding: 10px; /* Increase padding */
  border: 1px solid white; /* Add border to the date cells */
}
